@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Vitec.Models.ProductDetailsViewModel


<h1>Test</h1>


<div>
	<a asp-page="./Index">Back to List</a>
</div>
