@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Vitec.Models.ProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products[0].Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <tr>
                <p><span id="dots"></span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>

                <button onclick="seePricesProducts()" id="myBtn">Se priser</button>
                @*<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">
            Detaljer
        </a>*@
            </tr>
        </tr>
    }
    </tbody>
</table>


 