@{
    ViewData["Title"] = "Kontakt";
}
    <div class="container-fluid bg-light p-5 text-center">
        <p class="text-ex-smaller">RING NU!</p>
        <p class="text-ex-big">+45 65 91 80 22</p>
        <br />
        <p class="text-ex-smallest">eller send en mail til: kontakt@mv-nordic.dk</p>
    </div>

    <div class="mapContainer">
        <div class="container d-flex align-items-center h-100">
            <div class="row">
                <div class="bg-white p-5 find-us">
                    <h3>Find os her</h3>
                    <br />
                    <p>Vitec MV</p>
                    <p>Lucernemarken 17</p>
                    <p>5260 Odense S</p>
                    <br />
                    <a href="https://www.google.com/maps/dir/%27%27/Lucernemarken+17,+5260+Odense,+Danmark/">Se på Google kort</a>
                </div>
                <div class="bg-white p-5 find-us">
                    <p>Åbningstider</p>
                    <br />
                    <p><strong>Salg</strong> man-tors: 9-15, fre: 9-14</p>
                    <p><strong>Support</strong> man-tors: 8-16, fre: 9-16</p>
                </div>
            </div>
        </div>
    </div>