@{
    ViewData["Title"] = "Welcome";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col bg-light">
                <div class="d-flex flex-column align-items-center justify-content-around m-5">
                    <img src="~/img/CDORD.png" alt="CD-Ord logo" />
                    <p class="text-center mt-2">CD-ORD</p>
                    <button type="button" class=" btn btn-light">Lær mere</button>
                </div>
            </div>
            <div class="col bg-light">
                <div class="d-flex flex-column align-items-center justify-content-around m-5">
                    <img src="~/img/INTOWORDS.png" alt="Intowords logo" />
                    <p class="text-center mt-2">Intowords</p>
                    <button type="button" class=" btn btn-light">Lær mere</button>
                </div>
            </div>
        </div>
        <div class="p-5">
            <h1 class="text-center">
                PROPAGANDA GOES HERE
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis id diam et pellentesque. Maecenas porta, felis a auctor rhoncus, augue libero porttitor turpis, posuere molestie lorem urna eget diam. Integer in mauris arcu. Nam dapibus at turpis sit amet laoreet. Mauris et dignissim lectus. Praesent finibus justo nec lorem rhoncus, in vulputate lorem vestibulum. Morbi at lectus lorem. Aliquam pellentesque, erat at volutpat pharetra, eros lorem semper ex, sit amet eleifend lorem risus ut sem. Vivamus metus lectus, lacinia eu convallis non, interdum eget ipsum. Fusce volutpat arcu nunc, sit amet interdum nulla tempus sed. Suspendisse eget purus et dolor malesuada condimentum nec ac nunc. Pellentesque posuere mauris rhoncus velit placerat imperdiet. Morbi et augue id massa egestas iaculis et non leo.
                <br />
                Maecenas faucibus lorem at velit sollicitudin aliquam. Nam sed tincidunt tortor. In rutrum mauris posuere rhoncus aliquet. Sed blandit nisl ac libero sagittis consequat et non risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras massa lorem, elementum vel lectus auctor, semper vehicula nulla. Pellentesque semper libero tellus, id tristique magna imperdiet nec. Morbi in vestibulum felis. Etiam commodo congue justo a pulvinar. Sed tincidunt leo eu scelerisque ultrices. Curabitur in est eu augue varius feugiat. Curabitur dui justo, tempus eu porta eu, lacinia eget metus. Curabitur sed felis eu felis hendrerit fringilla eu sed ipsum.
            </p>
        </div>
    </div>
