@{
    ViewData["Title"] = "Login";
}

    <div class="login-container d-flex align-items-center justify-content-center">
        <div class="login-center p-5 rounded">
            <h3>Login</h3>
            <form action="" method="post">
                <br />
                <p>Brugernavn</p>
                <input type="text" name="username" value="" />
                <br /><br />
                <p>Adgangskode</p>
                <input type="password" name="password" value="" />
                <br /><br />
                <input class="btn btn-danger" type="submit" name="name" value="LOGIN" />
            </form>
        </div>
        
    </div>