@{
    ViewData["Title"] = "Privatlivs Politik";
}

    <div class="container">

        <h1>@ViewData["Title"]</h1>

        Denne politik for beskyttelse og behandling af personoplysninger beskriver, hvordan komplett.dk indsamler og behandler personoplysninger.
        Den administrerende direktør for Komplett.dk er ansvarlig for virksomhedens behandling af personoplysninger. Den dataansvarlige har det overordnede ansvar for at sikre, at al behandling og håndtering af personoplysninger sker i overensstemmelse med gældende lovgivning. Hvis det daglige ansvar er uddelegeret, vil dette være beskrevet under hvert enkelt punkt i denne politik. Uddelegeringen omfatter kun opgaverne og ikke ansvaret.
        Denne politik indeholder oplysninger om dine rettigheder ved opbevaring af personoplysninger som følge af et kundeforhold til Komplett.dk, og generelle oplysninger om hvordan vi behandler personoplysninger i henhold til gældende lovgivning om beskyttelse af privatlivets fred.
        Komplett deler ikke personoplysninger med andre, eller bruger oplysningerne til andre formål end angivet i denne fortrolighedserklæring.
        <br /><br />
        <h1>1 personoplysninger</h1>
        For at kunne gennemføre et køb på Komplett.dk har vi brug for dit navn, din adresse, dit mobilnummer og din e-mail.
        Dette er nødvendigt for at kunne sende din bestilling til den rigtige leveringsadresse, holde dig opdateret med din bestilling og kontakte dig, hvis der skulle være behov for det i forhold til din bestilling.
        Vi er forpligtet til at gemme bestillingsoplysninger i forbindelse med vores regnskab, betaling af afgifter og eventuel garanti-/returneringsbehandling. Denne historik slettes efter ti år. Vi gemmer også IP-adressen, der er brugt ved bestillingen af sikkerhedsmæssige årsager.
        Vi kan få brug for andre personoplysninger til forskellige formål. Hvilke personoplysninger og formålet med disse er beskrevet i denne politik for beskyttelse og behandling af personoplysninger.
        <br /><br />
        <h1>1.1 Dine rettigheder</h1>
        Du har ret til inspektion af de persondata, som komplett.dk har registreret om dig i overensstemmelse med gældende lovgivning. Du kan til enhver tid anmode om at få disse oplysninger udleveret uden vederlag i overensstemmelse med lovgivningen.
        Oplysninger skal udleveres/overføres på en sikker måde. Hvis den registrerede sender anmodningen elektronisk, og med mindre den registrerede anmoder om noget andet, skal informationen gives i en normal elektronisk form.
        Du kan også til enhver tid bede os om at slette eller rette dine persondata, forudsat at vi ikke er forpligtet til at opbevare disse i overensstemmelse med loven eller andre forpligtelser, som vi er underlagt.
        Du har ret til at få udleveret egne personoplysninger som du har givet til Komplett.dk – dataportabilitet.
        Alle personoplysninger vi sender til dig i disse sammenhænge vil blive sendt i krypteret filformat.
        Du kan til enhver tid tilbagekalde dit samtykke, som du har givet os. Samtykke finder du på Min side.
        Du har ret til at klage til Datatilsynet, hvis du konstaterer, at dine persondata ikke bliver behandlet i overensstemmelse med denne politik.
        <br /><br />
        <h1>1.2 Arkivering af personoplysninger</h1>
        Bogføringsloven pålægger os at lagre transaktionsdata i 5 år. For at kunne varetage kunders rettigheder i forbindelse med garanti og reklamation i henhold til forbrugerloven, købeloven og Komplett.dk’s salgsbetingelser, lagrer vi købshistorik i 10 år.
        <br /><br />
        <h1>1.3 Sikring af personoplysninger</h1>
        Komplett.dk har vedtaget procedurer og omfattende foranstaltninger for at sikre, at uvedkommende ikke får adgang til dine personoplysninger, og at behandlingen af ​​oplysninger sker i overensstemmelse med kravene i gældende lovgivning. Eksempler på sådanne foranstaltninger omfatter risikovurderinger, gennemførelse af organisatoriske og fysiske tiltag, adgangskontrol og arkiveringsprocedurer samt procedurer for databehandling og opfølgning på forespørgsler vedrørende retten til indsigt, rettelser og sletning.
        Du kan være sikker på, at Komplett.dk gemmer dine personoplysninger på en sikker måde.
        <br /><br />
        <h1>2 Levering af produkter</h1>
        Vi samarbejder med PostNord og Posten omkring levering af produkter. Vi videregiver personoplysninger, som er nødvendige for at produkterne kan leveres til dig. De oplysninger, der deles med transportørerne, er navn, adresse, telefonnummer og ønsket leveringssted. Oplysningerne slettes efter 12 måneder.
        <br /><br />
        <h1>3 Betalingsløsninger</h1>
        Af sikkerhedsmæssige årsager opbevarer vi historik, der indeholder IP-adressen, som vi modtager bestillinger fra.  Betalingsoplysninger hos Komplett omfatter: IP-adresse, navn, adresse, e-mail og mobilnummer.
        Alle systemer, der behandler personoplysninger vedrørende betaling af bestillingen, er alene begrænset til medarbejdere, der udfører nødvendige opgaver i forbindelse med bestillingen.
        <br /><br />
        <h1>3.1 Kortbetalinger</h1>
        Kortnummer gemmes ikke ud over, hvad der er nødvendigt for at sikre effektiv håndtering af eventuelle problemer med overbelastning, ophævelse af reservation og kreditering. Komplett.dk kan ikke se hele dit kortnummer i nogen som helst af vores systemer efter gennemførelse af købet. Skulle der opstå problemer med en kortbetaling, kan betalingsansvarlige hos Komplett.dk se de første 6 og sidste 4 cifre i dit kortnummer (IIN/BIN nummer) for at identificere, hvilken bank der har udstedt kortet, så vi kan hjælpe med at løse problemet.
        Vælger du kort som betalingsmetode, vil betalingsoplysninger og kreditkortinformationer blive delt med vores kortbetalingsudbyder: Worldline e-payment services og Digital River. Betaling og kortoplysninger bruges kun til at foretage betaling.
        For at gøre det endnu nemmere når du handler, kan du ved checkout vælge sikker lagring af dine kortoplysninger. Vores betalingspartner, Digital River, vil derefter gemme kortet i deres sikre systemer, så du kan købe via dette. Vi gemmer ikke dine kortoplysninger ud over at henvise til dem med en identifikator. Senere køb med det gemte kort er nemt at foretage, og det er derfor vigtigt, at du sørger for at logge ud af din kundekonto, når du har afsluttet købet, for at sikre at uvedkommende ikke har adgang til den enhed, du browser på. Du må ikke at dele dit brugernavn og din adgangskode med andre.
        De oplysninger, du opgiver via vores online betaling, vil kun være tilknyttet til din kundekonto. Oplysningerne opbevares i overensstemmelse med gældende love. Hensigten er, at du ikke behøver at indtaste dine kortoplysninger, hver gang du foretager et køb hos os.
        Du kan nemt tilføje nye kreditkort og slette gemte kort ved checkout. For at gennemføre betalingen deler vi kortoplysningerne med vores betalingsudbyder Worldline e-payment services og Digital River. De opbevarer oplysningerne på en sikker og forsvarlig måde og er underlagt meget strenge regler fra kortselskaberne, dvs. PCI niveau 1.
        <br /><br />
        <h1>3.2 Tryghedsaftale</h1>
        Hvis du vælger at tilføje en tryghedsaftale til et eller flere produkter, du køber hos os, vil vi dele personoplysninger med vores forsikringspartner Insr Insurance Group. Oplysningerne omfatter: Navn, adresse, e-mailadresse og mobiltelefonnummer. De oplysninger, som leverandøren har adgang til, og hvordan de skal behandles, reguleres af en databehandleraftale indgået mellem Komplett.dk og Insr Insurance Group.
        <br /><br />
        <h1>4 Returnering/Servicepartnere</h1>
        I forbindelse med returnering og reparation af produkter samarbejder Komplett.dk med udvalgte servicepartnere. Hvis et produkt, som vi har solgt er behæftet med mangler i henhold til bestemmelserne i forbrugerlovgivningen eller købeloven, har kunden ret til at få den repareret gratis. Produktet vil derefter blive leveret af en af ​​vores servicepartnere, og vi vil dele personoplysninger med servicepartneren. Oplysningerne omfatter navn, adresse, telefonnummer, e-mailadresse, kvittering for køb (købshistorik).
        Såfremt produktet ikke kan repareres, kan servicepartneren videregive kvitteringen til producenten. Dette er for at sikre, at Komplett.dk underrettes om, produktet kan erstattes med et nyt eller skal krediteres.
        Klik her for at se, hvilke servicepartnere vi samarbejder med.
        <br /><br />
        <h1>5 Cookies</h1>
        Cookies er små tekstfiler, der gemmes på din enhed, når du downloader en webside. Cookies anvendes typisk til at forbedre din brugeroplevelse og huske, hvem du er, så du forbliver logget ind.
        Formålet med cookies er at tilbyde grundlæggende funktionalitet til netbutikken som sessionshåndtering , og til analyse, tilpasning og markedsføring.
        Cookies er nødvendige, for at websiden skal kunne fungere.
        Tredjepartscookies anvendes til analyse, markedsføring og tilpasning af websiden.
        Her kan du læse mere om de cookies, der bruges på Komplett.dk. Generelle oplysninger om brug af cookies kan du læse om i pkt. 5.1 til 5.5 i denne politik.
        <br /><br />
        <h1>5.1. Sådan undgår du cookies</h1>
        Hvis du ønsker at undgå brug af cookies kan du indstille din browser til ikke at acceptere dem. Se din browsers hjælpesider for indstillingerne. Bemærk, at hvis du vælger ikke at acceptere cookies, vil flere af funktionerne på Komplett.dk ikke fungere.
        <br /><br />
        <h1>5.2 Analyse</h1>
        Komplett.dk indsamler anonymiserede oplysninger om besøgende på Komplett.dk til analysemæssige formål.
        Med anonymiserede oplysninger mener vi oplysninger, som ikke kan spores til en bruger eller en person. Formålet med dette er at indsamle statistik, der kan bruges til at videreudvikle og forbedre hjemmesiden. Eksempler på denne type af data er: antallet af besøgende på websiden, hvordan siden bliver brugt, hvor længe besøget varer, hvor brugerne kommer fra, og hvilke webbrowsere der benyttes.
        Vi indsamler også søgeord, der bruges af søgemaskinerne på websiden. Dette sker kun for at forbedre søgeresultaterne og kundeoplevelsen, og der vil ikke blive indsamlet oplysninger, der kan spores tilbage til brugeren.
        <br /><br />
        <h1>5.3 Tilpasning</h1>
        For at give dig en relevant og god oplevelse i vores butik bruger vi funktioner og systemer til at tilpasse indholdet til dig og dine interesser.
        <br /><br />
        <h1>5.4 Markedsføring</h1>
        Behandlingsgrundlaget for markedsføring via e-mail og sms er samtykke.
        Vi ønsker, at vores markedsføring skal opleves som værende relevant og nyttig for dig til enhver tid, hvorfor indholdet normalt vil være tilpasset til dig. Vi samarbejder med udvalgte partnere for at skabe en god løsning i relation til fremsendelse af sms og e-mail.
        Vi og vores samarbejdspartnere sporer annoncer for at undersøge, hvilke annoncer du har set på internettet, og hvilke produkter du har kigget på hos os. Ved hjælp af dette kan vi tilpasse butikken til dine interesser og vise dig relevante annoncer næste gang.
        Marketingdirektøren har det daglige ansvar for Komplett.dk ved behandling af personoplysninger i forbindelse med markedsføring, analyse og tilpasning.
        <br /><br />
        <h1>5.5 Personoplysninger til tredjeparter</h1>
        Komplett.dk vil ikke dele, sælge, overføre eller på anden måde videregive dine personoplysninger på andre måder end beskrevet i denne politik for beskyttelse og behandling af personoplysninger. Dine oplysninger vil kun blive delt, hvis vi er juridisk forpligtet eller får dit samtykke. Samarbejdspartnere vil kun få adgang til oplysningerne, hvis dette er nødvendigt for at udføre tjenester for Komplett.dk. I sådanne tilfælde indgås databehandleraftaler for at varetage informationssikkerheden, og derud over bestemmer Komplett.dk, hvordan databehandlingen skal foregå. Flere oplysninger om de tredjeparter, vi bruger, finder du under Analyse, Tilpasning og Marketing i denne politik.
        <br /><br />
        <h1>6 Ændringer i politikken</h1>
        Hvis vi foretager ændringer i denne politik for beskyttelse og behandling af personoplysninger, vil vi offentliggøre den reviderede udgave her med en opdateret revisionsdato. Vi opfordrer dig til at gennemgå politikken regelmæssigt. Hvis der foretages større ændringer, der væsentligt ændrer vores politik, kan vi også give dig besked på andre måder, såsom via e-mail eller på selskabets hjemmeside eller de sociale medier.
        <br /><br />
        <h1>7 Kontaktoplysninger</h1>
        Hvis du ønsker, at Komplett.dk skal slette dine oplysninger, eller du ønsker at få udleveret dine personoplysninger, der er gemt af Komplett.dk, bedes du kontakte os via e-mail på personopplysning@komplett.com
        <br /><br />
        Postadresse:
        Komplett.dk
        Postbox 540
        0918, KØBENHAVNS PAKKE BRC
        <br /><br />
        Sidst ændret: 04.05.2018


    </div>