@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="https://localhost:44378/Identity/Account/Login">
            <button type="submit" class="nav-link btn btn-link text-dark">Login</button>
        </form>
    </div>
</div>
